<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/details.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
 <div class="container">
    <header>
        <a href="/" class="logo"><span>My</span>Home</a>
        <div  id ="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="/">Accueil</a>
            <a href="">Contact</a>
        </nav>
    </header> 

    <div class="element">
        <div class="gauche">
            <h2>Appartement meublé 3 pièces au Plateau Immeuble Bellerive</h2>
            <div class="resume">
                <h3>Résumé</h3>
                <!-- <div class="madiv">
                    <h4>Mis à jour le:</h4>
                    <p>mars 5, 2022</p>
                </div> -->
                <ul>
                    <li>Mise à jour le:</li>
                    <li class="pre">mars 5, 2022</li>
                </ul>
                <div class="flas">
                    <div class="madiv">
                        <i><i class="fas fa-bed"></i></i>
                        <p>3 Chambre(s)</p>
                    </div>
                    <div class="madiv">
                        <i class="fas fa-bath"></i>
                        <p>3 Salle de bains</p>
                    </div>
                </div>
                
            </div>
            <div class="des">
                <h3>Description du bien</h3>
                <p>
                    Appartement meublé 3 pièces au Plateau Immeuble Bellerive
                </p>
                <p class="env">ENVIRONNEMENT:</p>
                Quartier calme et résidentiel au centre du Plateau, à proximité de la BCEAO et de l’Hotel Pullman.


                <p>
                    BIEN PROPOSÉ :

                </p>
                    Ce bel appartement meublé, met à votre disposition :<br>
                    – Un grand séjour ouvert sur la lagune<br>
                    – Salle à manger<br>
                    – 2 chambres autonomes<br>
                    – WC visiteurs<br>
                    – Cuisine équipée (électroménager)<br>
                </p>

                <p>
                    PRESTATIONS ANNEXES : 
                </p>
                    – Climatisé<br>
                    – Baignoire dans la chambre principale<br>
                    – Groupe électrogène<br>
                    – Parking couvert<br>
                    – Tapis et vélos (sport)<br>
                    – Fibre optique (connexion internet)<br>
                    – Canal+<br>
                    – Lave-linge<br>
                    – Ménage<br>
                    <br>
                    Parfait pour vos courts, moyens et longs séjours !
                
            </div>
            <div class="resumes">
                <h3>Adresse du bien</h3>
                <h5> Région: Abidjan, Marcory</h5>
                <p>Pays: Côte d'Ivoire</p>
                <a href="">google maps</a>
            </div>
            <div class="resumes">
                <h3>Details du bien</h3>
                <h5> ID du programme neuf : 2572</h5>
                <p>Pièces: 3</p>
                <p style="color:rgb(17, 83, 66) ;">Prix : 60.000 FCFA /jr</p>
            </div>
            <div class="forme">
                <div class="partie1">
                    <div class="avatar">
                        <img src="../public/images/avatar.gif" alt="">
                    </div>
                    <div class="text">
                        <h3>Miss OUATTARA</h3>
                        <p>
                            <i class="fas fa-phone"></i>
                            0567890765444
                        </p>
                        <p>
                            Veuillez s'il vous plait, vous puvez nous contactez  sur My Home pour plus de précision.
                        </p>
                    </div>
                </div>

                <div class="formulaire">
                    <h3>Contactez Nous:</h3>
                    <form action="">
                        <input type="text" placeholder="votre nom">
                        <input type="text" placeholder="votre email">
                        <input type="text" placeholder="votre numero ">
                        <div>
                            <textarea name="" id="" cols="30" rows="10">

                            </textarea>
                        </div>
                        <div>
                            <button class="btn">Envoyer</button>
                            <button class="btn1">
                                <i class="fas fa-phone"></i>
                                Appeller 1234567890
                            </button>
                            <button class="btn1">
                                <i class="fab fa-whatsapp"></i>
                                WhatApp
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="gallery">
            <img src="../public/images/4.jpg" alt="">
            <img src="../public/images/5.jpg" alt="">
            <img src="../public/images/6.jpg" alt="">
    
            <img src="../public/images/4.jpg" alt="">
            <img src="../public/images/5.jpg" alt="">
            <img src="../public/images/6.jpg" alt="">
            
        </div>
        
        
    </div>


    <footer>
        <div class="footer-content">
            <h3>My Home </h3>
            <p>My Home ---- source code.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
             </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 <a href="#">My Home developer</a>  </p>
            <div class="footer-menu">
                <ul class="f-menu">
                   <li><a href="">Home</a></li>
                  
                   <li><a href="">Contact</a></li>
    
                </ul>
               </div>
         </div>
         
    </footer>
 </div>
</body>
</html>