<!DOCTYPE html>
<html>
<head>
	<title>mon site immo</title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<header>
	        <a href="/" class="logo"><span>My</span>Home</a>
	        <div  id ="menu" class="fas fa-bars"></div>
	        <nav class="navbar">
	            <a href="/">Accueil</a>
	            <!-- <a href="/about">About</a>
	            <a href="">Louer</a> -->
	            <a href="">Contact</a>
	        </nav>
	        <div class="page1"><a href="/connexion"><i class="fas fa-user espace"></i>Connexion</a></div>
			<div class="page1"><a href="https://www.google.com/search?q=google+fonts&rlz=1C5CHFA_enCI1001CI1001&oq=google&aqs=chrome.0.69i59l2j46i131i199i433i465i512j35i39j0i131i433i512j69i60l3.2903j0j7&sourceid=chrome&ie=UTF-8"><i class="fas fa-sign-out-alt"></i>Deconnexion</a></div>
    	</header>
    	<div class="block">
    		<div class="block1">
    			<h1>Location appartement meublé chez My Home</h1>
    			<p>Les équipes de Spotahome vérifient chaque logement. Visionnez nos vidéos et louez en ligne</p>
    			<div class="recherche">
    				<input type="text" name="" placeholder="Abidjan">
    				<i class="fas fa-search"></i>
    			</div>
    		</div>
    		<div class="block2">
    			<img src="../public/images/4.jpg">
    		</div>
    	</div>
		<div class="titre">
			<h4>Meilleurs appartements meublés à MyHome</h4>
		</div>
		<div class="cards">
			<div class="card">
				<img src="../public/images/pal.jpg" alt="">
				<div class="content">
					<h2>A louerMeublésAppartement meublé 3 pièces au Plateau Immeuble Bellerive</h2>
					<h3>80.000 FCFA / mois</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/4.jpg" alt="">
				<div class="content">
					<h2>Immeuble et Bureaux à Louer à Cocody Riviera ABATTA</h2>
					<h3> 200.000 FCFA /mois</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/lo.jpg" alt="">
				<div class="content">
					<h2>Appartement meublé à louer 3 pièces Riviera</h2>
					<h3>75.000 FCFA /mois</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="#details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/dp.jpg" alt="">
				<div class="content">
					<h2>Duplex 7pièces riviera Palmeraie SIPIM 4</h2>
					<h3>600.000 FCFA /mois</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/re.jpg" alt="">
				<div class="content">
					<h2>Résidence EVE Angré 8ème tranche</h2>
					<h3>80.000 FCFA /mois</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/app.jpg" alt="">
				<div class="content">
					<h2>Appartement meublé Cocody Angré</h2>
					<h3>50.000 FCFA /mois</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/gp.jpg" alt="">
				<div class="content">
					<h2>Appartement 3 et 4 pièces à louer à Cocody Riviera 4 Mbadon</h2>
					<h3>1.500.000 FCFA</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
			<div class="card">
				<img src="../public/images/gpp.jpeg" alt="">
				<div class="content">
					<h2>Grand Appartement à louer de 4 Pièces Angré</h2>
					<h3>dhfdhudfudfhuduf</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					<a href="details.html" class="btn">Détails</a>
				</div>
			</div>
		</div>


    		
		<div class="lien">
			<a href="#">Voir plus    >></a>
		</div>


		<div class="titres">
			<h4>Pourquoi utiliser My Home ?</h4>
		</div>
		<div class="autre">
			<div class="premier">
				<img src="../public/images/icone1.jpg">
				<p>100% en ligne. Trouvez et réservez votre nouvelle maison en quelques minutes.</p>
			</div>
			<div class="premier">
				<img src="../public/images/icon2.jpg">
				<p>Nous vérifions la propriété afin que vous puissiez réserver où que vous soyez.</p>
			</div>
			<div class="premier">
				<img src="../public/images/icone3.jpg">
				<p>Des tours vidéo, des photos de qualité et des plans au sol pour faciliter la comparaison.</p>
			</div>
			<div class="premier">
				<img src="../public/images/icone4.jpg">
				<p>Emménagez en toute confiance. En cas de problème à l'arrivée, nous nous chargerons de le solutionner.</p>
			</div>
		</div>
		<footer>
			<div class="footer-content">
				
				<h3>My Home </h3>
				<p>My Home ---- source code.</p>
				<ul class="socials">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
				 </ul>
			</div>
			<div class="footer-bottom">
				
				<p>copyright &copy;2021 <a href="#">My Home developer</a>  </p>
				<div class="footer-menu">
					<ul class="f-menu">
					   <li><a href="">Home</a></li>
					   <!-- <li><a href="">About</a></li> -->
					   <li><a href="">Contact</a></li>
					   <!-- <li><a href="">Blog</a></li> -->
					</ul>
				   </div>
			 </div>
			 
		</footer> 
	</div>



    	<!---->
	</div>
	<script src="../public/js/header.js"></script>
</html>