<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>ACCUEIL</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo"><span>My</span>Home</a>
            <div  id ="menu" class="fas fa-bars"></div>
            <nav class="navbar">
                <a href="/">Accueil</a>
                <a href="/about">About</a>
                <a href="">Accueil</a>
                <a href="">Accueil</a>
                <a href="">Contact</a>
            </nav>
            <div class="page1"><a href="/connexion"><i class="fas fa-user espace"></i>login</a></div>
        </header> 
        <div class=" corps">
            <video  autoplay="autoplay" muted="" loop="infinite">
                <source src="../public/images/v1.mp4" type=video/mp4>
           </video>
           <div class="texte_centrer"><h1> Bienvenue dans votre belle villa</h1></div>
        </div>
    </div>
    
    <script src="../public/js/header.js"></script>
</body>
</html>