<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/test.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo"><span>My</span>Home</a>
            <div  id ="menu" class="fas fa-bars"></div>
            <nav class="navbar">
                <a href="/">Accueil</a>
                <a href="/about">About</a>
                <a href="">Louer</a>
                <a href="">Contact</a>
            </nav>
        </header>
        <div class="image">
            <img src="../public/images/7.jpg" alt="">
        </div>   
    </div>
    <div class="block">
        <div class="block1">
            <img src="../public/images/icone1.jpg" alt="">
            <h4>1500 appartements meublés</h4>
            <p>Vous cherchez un logement pour une durée de un à plusieurs mois? Trouvez votre location meublée en quelques clics partout en France.
            </p>
        </div>
        <div class="block1">
            <img src="../public/images/icon2.jpg" alt="">
            <h4>Plateforme sécurisée</h4>
            <p>Annonces vérifiées et certifiées conformes, plus de 3000 avis utilisateurs, 
                paiement sécurisé par carte bancaire garanti par notre partenaire financier Stripe.
            </p>
        </div>
        <div class="block1">
            <img src="../public/images/icone3.jpg" alt="">
            <h4>Votre satisfaction, notre priorité !</h4>
            <p>Relance propriétaire, recherche personnalisée de logement adapté à vos besoins et
                 réponse à vos questions .
            </p>
        </div>
        <div class="block1">
            <img src="../public/images/icone4.jpg" alt="">
            <h4>Réservez en ligne</h4>
            <p>Bénéficiez d’un service de Mise en relation, 
                communiquez avec les propriétaires directement via votre espace personnel.
            </p>
        </div>
    </div>
    <div class="loue">
            <div class="titre"> Louer son appartement ou sa maison meublée, au mois, sans dossier</div>

            <div class="tout-cadres">
                <div class="cadre">
                    <a href="../view/loue.html"><img src="../public/images/3.jpg" alt=""></a>
                 </div> 
                <div class="cadre">
                    <a href="../view/loue.html"><img src="../public/images/3.jpg" alt=""></a>
                 </div> 
            </div>
            <div class="tous_cadres">
                <div class="cadre">
                    <a href="../view/loue.html"><img src="../public/images/3.jpg" alt=""></a>
                 </div>
                 
                 <div class="cadre">
                     <a href="../view/loue.html"><img src="../public/images/3.jpg" alt=""></a>
                  </div>
            </div>
    </div>


</body>
</html>